<script>
function setTutorial(part) {
  //can't use js variables in rails methods
  //too lazy to use ajax
  //i deserve to be stoned
  switch(part) {
    case 0:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 0}) %>");
      break;
    case 1:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 1}) %>");
      break;
    case 2:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 2}) %>");
      break;
    case 3:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 3}) %>");
      break;
  }
}
</script>
<div class="row">
  <div class="col-md-3" id="tutorials-sidebar">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></span>Flappy Bird</a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <table class="table">
              <tr><td><a href="#" onClick="setTutorial(0)">Part 0</a></td></tr>
              <tr><td><a href="#" onClick="setTutorial(1)">Part 1</a></td></tr>
              <tr><td><a href="#" onClick="setTutorial(2)">Part 2</a></td></tr>
              <tr><td><a href="#" onClick="setTutorial(3)">Part 3</a></td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= @part %>
<div class="col-md-9" id="tutorial-content">
  <a name="content-top"></a>
  <script>
    setTutorial(0);
  </script>
</div>
<%= content_tag :div, class: "temp_info", data: {part: @part} do %>
<% end %>
</div>

