<script>
function setTutorial(part) {
  //can't use js variables in rails methods
  //too lazy to use ajax
  //i deserve to be stoned
  switch(part) {
    case 0:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 0}) %>");
      break;
    case 1:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 1}) %>");
      break;
    case 2:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 2}) %>");
      break;
    case 3:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 3}) %>");
      break;
    case 4:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 4}) %>");
      break;
    case 5:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 5}) %>");
      break;
    case 6:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 6}) %>");
      break;
    case 7:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 7}) %>");
      break;
    case 8:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 8}) %>");
      break;
    case 9:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 9}) %>");
      break;
    case 10:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 10}) %>");
      break;
    case 11:
      $('#tutorial-content').html("<%= escape_javascript(render :partial => 'tutorial_content', locals: {part: 11}) %>");
      break;
  }
}
</script>
<div class="row" id="outer-tutorials">
  <div class="col-md-3" id="tutorials-sidebar">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></span>Flappy Bird</a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <table class="table">
              <tr><td><a href="#" onClick="setTutorial(0)">Part 0: Setting up your Github</a></td></tr>
              <tr><td><a href="#" onClick="setTutorial(1)">Part 1: Setting up the MainScene (Spritebuilder Part 1)</a></td></tr>
              <tr><td><a href="#" onClick="setTutorial(2)">Part 2: Setting up the MainScene (Spritebuilder Part 2)</a></td></tr>
              <tr><td><a href="#" onClick="setTutorial(3)">Part 3: Understanding the Code</a></td></tr> 
              <tr><td><a href="#" onClick="setTutorial(4)">Part 4: Setting up your MainScene (XCode)</a></td></tr>
              <tr><td><a href="#" onClick="setTutorial(5)">Part 5: Setting up your FlappyBird (Part 1: Initialization)</a></td></tr>
              <tr><td><a href="#" onClick="setTutorial(6)">Part 6: Setting up your FlappyBird (Part 2: Touch Began)</a></td></tr>
              <tr><td><a href="#" onClick="setTutorial(7)">Part 7: Setting up your Obstacles (Part 1: SpriteBuilder)</a></td></tr>
              <tr><td><a href="#" onClick="setTutorial(8)">Part 8: Setting up your Obstacles (Part 2: Update)</a></td></tr>
              <tr><td><a href="#" onClick="setTutorial(9)">Part 9: Setting up the Collisions (Game Over Collisions)</a></td></tr>
              <tr><td><a href="#" onClick="setTutorial(10)">Part 10: Setting up the Collisions (Points Collisions)</a></td></tr>
              <tr><td><a href="#" onClick="setTutorial(11)">Part 11: Pushing your changes to Github</a></td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= @part %>
<div class="col-md-9" id="tutorial-content">
  <a name="content-top"></a>
  <script>
    setTutorial(0);
  </script>
</div>
<%= content_tag :div, class: "temp_info", data: {part: @part} do %>
<% end %>
</div>

